@model WebCrud.Models.Funcionario

@{
    ViewData["Title"] = "Cadastrar Funcionário";
}


<h1 class="text-center mt-3">Realizar Cadastro</h1>

<h4 class="text-center">Funcionário</h4>
<hr>

<div class="d-flex justify-content-center align-items-center" style="min-height: 65vh;">
    <div class="bg-dark text-white rounded p-5 shadow" style="width: 50%;">
        <div class="col-md-12">

            <form asp-controller="Funcionario" asp-action="CadastrarFun" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group text-center">
                    <label asp-for="Salariofun" class="control-label"></label>
                    <input asp-for="Salariofun" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="Salariofun" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <label asp-for="Nomefun" class="control-label"></label>
                    <input asp-for="Nomefun" class="form-control" />
                    <span asp-validation-for="Nomefun" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <label asp-for="Enderecofun" class="control-label"></label>
                    <input asp-for="Enderecofun" class="form-control" />
                    <span asp-validation-for="Enderecofun" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <label asp-for="Telefonefun" class="control-label"></label>
                    <input asp-for="Telefonefun" class="form-control" />
                    <span asp-validation-for="Telefonefun" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <label asp-for="Emailfun" class="control-label"></label>
                    <input asp-for="Emailfun" class="form-control" type="email" />
                    <span asp-validation-for="Emailfun" class="text-danger"></span>
                </div>

                <div class="form-group text-center mt-3">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-controller="Home" asp-action="Index">Voltar para a Home</a>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
