@model WebCrud.Models.Producao

@{
    ViewData["Title"] = "Cadastrar Produção";
}


<h1 class="text-center mt-3">Realizar Cadastro</h1>

<h4 class="text-center">Produção</h4>
<hr>

<div class="d-flex justify-content-center align-items-center" style="min-height: 65vh;">
    <div class="bg-dark text-white rounded p-5 shadow" style="width: 50%;">
        <div class="col-md-12">

            <form asp-controller="Producao" asp-action="CadastrarProdu" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group text-center">
                    <label asp-for="IniProdu" class="control-label"></label>
                    <input asp-for="IniProdu" class="form-control" type="date" />
                    <span asp-validation-for="IniProdu" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <label asp-for="FimProdu" class="control-label"></label>
                    <input asp-for="FimProdu" class="form-control" type="date" />
                    <span asp-validation-for="FimProdu" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <label asp-for="QtdProdu" class="control-label"></label>
                    <input asp-for="QtdProdu" class="form-control" />
                    <span asp-validation-for="QtdProdu" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <label asp-for="Fkfuncionarioid" class="control-label"></label>
                    <input asp-for="Fkfuncionarioid" class="form-control" type="number" step="1" />
                    <span asp-validation-for="Fkfuncionarioid" class="text-danger"></span>
                </div>

                <div class="form-group text-center mt-3">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-controller="Home" asp-action="Index">Voltar para a Home</a>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
